node_modules
dist
test
coverage
.git
.gitignore
.husky
*.md
.env*
!.env.production
yarn-error.log
npm-debug.log
.DS_Store
.vscode
.idea
*.log
yarn.lock
.yarnrc
docker-compose*.yml
.cache_invalidate
*.spec.ts
*.test.ts
.prettierrc
eslint.config.mjs